.AuthPage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

.AuthPage__info {
  position: relative;
  color: #322f2f;
  width: 65%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #3385c6;
  background-color: rgba(66, 121, 163, 0.9);
  background-image: linear-gradient(20deg, #4279a3 24%, #76c1e4 100%);
}
.AuthPage__info__title {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  font-weight: 500;
}

.AuthPage__info__description {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40%;
}
.AuthPage__info__description__text {
  width: 49%;
}
.AuthPage__info__description__text li {
  font-size: 1.1em;
  margin: 10px 5px;
}

.AuthPage__info__img {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  background: url('./../../assets/Calendar.png');
  opacity: 0.7;
  background-size: contain;
}

.AuthPage__form {
  width: 30%;
  height: 100%;

  border: 2px solid #3385c6;
  border-radius: 10px;
  background-image: linear-gradient(120deg, #59b3dd 0%, #3385c6 100%);
}
