.WorkoutsDashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  border: 2px solid #3385c6;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(20deg, #4279a3 24%, #76c1e4 100%);
  overflow: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.WorkoutsDashboard__content {
  flex: 1;
}

.WorkoutsDashboard__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.WorkoutsDashboard__header__title {
  text-align: center;
  width: 150px;
  color: white;
  display: block;
  position: absolute;
  top: -20px;
  padding: 5px 15px;
  left: 40%;
  font-size: 1.4em;
  border: 1px solid #4279a3;
  border-top: none;
  background: #3385c6;
}
.WorkoutsDashboard__AddNewWorkoutButton {
  position: absolute;
  top: -10px;
  right: 25px;
  cursor: pointer;
}
.WorkoutsDashboard__AddNewWorkoutButton i {
  color: white;
  text-shadow: 2px 2px 2px #4279a3;
  font-size: 2em;
  transition: 200ms ease-in-out;
}

.WorkoutsDashboard__AddNewWorkoutButton i:hover {
  color: lightgreen;
}
