.FloatPart {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #76c1e4 0%, #4279a3 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.floatNavigation {
  display: flex;
  list-style: none;
}

.floatNavigation a {
  text-decoration: none;
  margin: 20px;
  color: wheat;
  font-size: 1.2em;
}

.FloatPart__authBtn {
  margin: 0px 5px;
  outline: none;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: normal;
  padding: 10px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #645958;
}

.FloatPart__authBtn:hover {
  color: gainsboro;
}
