.FloatPart {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #76c1e4 0%, #4279a3 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.floatNavigation {
  display: flex;
  list-style: none;
}

.floatNavigation a {
  text-decoration: none;
  margin: 20px;
  color: wheat;
  font-size: 1.2em;
}
